/* 这里定义一些复用的样式 */
html
    /* 1rem = 10px */
    font-size: 62.5%
.float-left
    float: left
.flex
    /* flex布局 */
    display: flex
    display: -webkit-flex
.left
    float: left
.right
    float: right

.Button:focus
    outline: none
.Button:hover
    background-color: #0077fe

/* 输入框中placeholder的颜色 */

input.warn::-webkit-input-placeholder
    color: red
input.warn:-moz-placeholder
    color: red
input.warn::-moz-placeholder
    color: red
input.warn:-ms-input-placeholder
    color: red